extends layout

block content
    h1 #{title}
    form(method='POST', action='/temperatures/add')
      #form-group
        label Filho:
        input.form-control(name='filho', type='text')
      #form-group
        label Temperatura:
        input.form-control(name='temperatura', type='text')
      br
      input.btn.btn-primary(type='submit', value='Adicionar')
