extends layout

block content
    h1 #{title}
    form(method='POST', action='/temperatures/edit/'+temperature._id)
      #form-group
        label Filho:
        input.form-control(name='filho', type='text', value=temperature.filho)
      #form-group
        label Temperatura:
        input.form-control(name='temperatura', type='text', value=temperature.temperatura)
      br
      input.btn.btn-primary(type='submit', value='Guardar')
