extends layout

block content
  if user
    h1 #{title}
    ul.list-group
      each temperature, i in temperatures
        if user.id ==temperature.parente
          li.list-group-item
            a(href="/temperatures/"+temperature._id)= temperature.filho
  else
    h3 Faça login
