extends layout

block content
  if user
    if user.id ==temperature.parente
      h3= temperature.filho
      h5 Temperatura: #{temperature.temperatura}
      p Parente: #{parente}
      hr
      if user
        if user.id ==temperature.parente
          a.btn.btn-default(href='/temperatures/edit/'+temperature._id) Editar
          a.btn.btn-danger.delete-temperature(href='#',data-id=temperature._id) Apagar
  else
    h3 Faça login
